@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {


padding: 0px;
margin: 0px;
box-sizing: border-box;


}

.inpt {


    border-radius: 10px;
    padding: 18px;
    border: none;
    background-color: aliceblue;
    width: 377px;
    margin-bottom: 16px;
}
.btn{

padding: 18px;
background-color: black;
color: wheat;
border: none;
width: 377px;
border-radius: 10px;


}